#schRecordCurrency{
  max-width: 120px;
}
#schRecordDateRange{
  max-width: 190px;
}
#trading_table_tr_type{
  width:7%;
}
#trading_table_tr_currency{
  width:10%;
}
#trading_table_tr_LocalCurrencyTurnover{
  width:12%;
}
#trading_table_tr_ForeignCurrencyTurnover{
  width:12%;
}
#trading_table_TotalLCT{
  width:13%;
}
#trading_table_TotalFCT{
  width:13%;
}
#trading_table_tr_rate{
  width:10%;
}
#trading_table_cost_rate{
  width:10%;
}
#trading_table_tr_tradingtime{
  width:13%;
}
.buyRecord{
  background-color: #de6a6a70;
}
.sellRecord{
  background-color: #a1de6a70;
}