#schGoalType {
  max-width: 120px;
}

#schRecordDateRange {
  max-width: 190px;
}

#schMissionStatus {
  max-width: 120px;
}

#btnRelationsCreate {
  margin-top: 10px;
}

#goal_relation_list_expandable_table span {
  margin-right: 10px;
}